* {
  box-sizing: border-box;
}
body{
  background-color: lightgray;
}
.maindiv{
  height: 75%;
}
.dv {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}
form{
  /* border: 1px solid black; */
  background-color: grey;
  height: 85%;
  margin: 50px;
}
input{
  padding: 5px;
  margin: 10px;
}
a{
  color:black;
  padding:10px
}
