{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
<h1>Account</h1>
<div class="maindiv">
<div class="dv">
  <h4>Add Balance</h4>
  <form action="/addbalance/" method="post">{% csrf_token %}
    <br><br><br><br><br><br>
    <input type="number" name="balance" placeholder="Balance"><br>
    <input type="submit" name="submit" value="UPDATE">
  </form>
</div>
<div class="dv">
  <h4>Pay Fee</h4>
  <form action="/payfee/" method="post">{% csrf_token %}
    <br><br><br>
     <table>
       <tr>
         <th>Serial No</th>
         <th>Fee Type</th>
          <th>Unit Fee</th>
          <th>Total Unit</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Tuition Fee</td>
          <td><input type="number" name="mnthfee" value=0></td>
          <td><input type="number" name="mnth" value=0></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Semester Fee</td>
          <td><input type="number" name="semfee" value=0></td>
          <td><input type="number" name="sem" value=0></td>
        </tr>
        </table>
        <input type="submit" name="pymnt" value="PAYMENT">
    </form>
</div>
</div>

<div class="lg">
  <br>
  <a href="/logout/"> Logout </a>
  <a href="/viewreport/"> Generate Report </a>
</div>
</center>

{% for message in messages %}
<script>
  window.alert('{{ message }}');
</script>
{% endfor %}
