{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<center>
<div>
  <h4>Report</h4>
     <table border=1 cellspacing=0 cellpadding=1>
       <tr>
         <th rowspan="2">Student Name</th>
         <th rowspan="2">Department</th>
         <th rowspan="2">Session</th>
         <th colspan="2">Semester Fee</th>
         <th colspan="2">Tution Fee</th>
         <!-- <th colspan="2">Email</th> -->
        </tr>
        <tr>
          <th>Paid</th>
          <th>Not Paid</th>
          <th>Paid</th>
          <th>Not Paid</th>
        </tr>
        {% for i in item %}
        <tr align="center">
          <td>{{i.s_name}}</td>
          <td>{{i.dept}}</td>
          <td>{{i.session}}</td>
          <td>{{i.sfp}}</td>
          <td>{{i.sfnp}}</td>
          <td>{{i.tfp}}</td>
          <td>{% if i.tfnp < 0 %} {{0}} {% else %} {{i.tfnp}} {% endif %}</td>
          <!-- <td> <input type="submit" name="mail" value="Mail"></td> -->
        </tr>
        {% endfor %}
        </table>
</div>
</center>
