{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
<h1>Admin</h1>
<div class="maindiv">
<div class="dv">
  <h4>Register User</h4>
  <form action="/adduser/" method="post">{% csrf_token %}
    <br><br><br>
    <input type="text" name="name" placeholder="Full Name"><br>
    <input type="text" name="uname" placeholder="Username"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="role" placeholder="Role"><br>
    <input type="submit" name="register" value="REGISTER">
  </form>
</div>
<div class="dv">
  <h4>Add New Student</h4>
  <form action="/addstudent/" method="post">{% csrf_token %}
      <input type="text" name="sname" placeholder="Full Name"><br>
      <input type="number" name="roll" placeholder="Roll Number"><br>
      <input type="password" name="pin" placeholder="Pin"><br>
      <input type="email" name="email" placeholder="Email"><br>
      <input type="text" name="dept" placeholder="Department"><br>
      <input type="text" name="sess" placeholder="Session"><br>
      <input type="date" name="sem" placeholder="Semester"><br>
      <input type="submit" name="submit" value="ADD">
    </form>
</div>
</div>

<div class="lg">
  <br>
  <a href="/logout/"> Logout </a>
</div>
</center>

{% for message in messages %}
<script>
  window.alert('{{ message }}');
</script>
{% endfor %}
