{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
<h3>Canteen</h3>
<div class="receipt" style="border: 1px solid grey; background-color: grey; width:55%; height:60%">
<form action="/bill/" method="post">{% csrf_token %}
  <br>
  <table>
    <tr>
      <th>Item No</th>
      <th>Food Type</th>
      <th>Price Per Unit</th>
      <th>Total Units</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Rice Item</td>
      <td><input type="number" name="cost1" value="0"></td>
      <td><input type="number" name="units1" value=0></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Fast Food</td>
      <td><input type="number" name="cost2" value="0"></td>
      <td><input type="number" name="units2" value="0"></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Drinks</td>
      <td><input type="number" name="cost3" value="0"></td>
      <td><input type="number" name="units3" value="0"></td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Make Payment">
</form>
</div>
<a href="/logout/" style="color:black; padding:10px;"> Logout </a>
</center>
<p id= val></p>
{% for message in messages %}
<script>
window.alert('{{ message }}');
</script>
{% endfor %}
