{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
 <h1>Student</h1>
 <div class="dv">
   <form action="/validissue/" method="post">{% csrf_token %}
     <br><br><br><br><br><br>
     <input type="password" name="pin" placeholder="Pin"><br>
     <input type="submit" name="submit" value="ENTER">
   </form>
 </div>
</center>
{% for message in messages %}
  <script>
    window.alert('{{ message }}');
  </script>
{% endfor %}
