{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
<h1>Student Management using Smart ID Card</h1>
    <div class="frm" style="width:400px; height:350px">
      <form action="/register/" method="post">{% csrf_token %}
        <input type="text" name="uname" placeholder="Username"><br>
        <input type="password" name="pwd1" placeholder="Password"><br>
        <input type="password" name="pwd2" placeholder="Confirm Password"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="submit" name="register" value="REGISTER">
      </form>
    </div>
</center>
{% for message in messages %}
<script>
  window.alert('{{ message }}');
</script>
{% endfor %}
