{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Smart ID</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <center>
    <h1>Student Management using Smart ID Card</h1>
    <div class="frm" style="width:400px">
      <form action="/login/" method="post">{% csrf_token %}<br><br>
        <input type="text" name="uname" placeholder="Username" required><br>
        <input type="password" name="pwd" placeholder="Password" required><br>
        <input type="submit" name="login" value="LOGIN"><br>
        <a id="reg" href="/studentview/">Student?</a>
        <a id="reg" href="/registerview/">New User?</a>
      </form>
    </div>
  </center>
  {% for message in messages %}
    <script>
      window.alert('{{ message }}');
    </script>
  {% endfor %}
  </body>
</html>
