{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<center>
<h1>Library</h1>
<div class="maindiv">
<div class="dv">
  <h4>Issue Book</h4>
  <form action="/issuebook/" method="post">{% csrf_token %}
    <br><br><br><br><br><br>
    <input type="text" name="bkid" placeholder="Book ID"><br>
    <input type="submit" name="submit" value="ISSUE">
  </form>
</div>
<div class="dv">
  <h4>Return Book</h4>
  <form action="/returnbook/" method="post">{% csrf_token %}
    <br><br><br><br><br><br>
    <input type="text" name="bkid" placeholder="Book ID"><br>
    <input type="submit" name="submit" value="RETURN">
    </form>
</div>
</div>

<div class="lg">
  <br>
  <a href="/logout/"> Logout </a>
  <a href="/viewreport/"> Generate Report </a>
</div>
</center>

{% for message in messages %}
<script>
  window.alert('{{ message }}');
</script>
{% endfor %}
